* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-sans', sans-serif;
}
body{
   height: 100vh;
   background-color:white;
   background-size: cover;
   background-position: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover {
    color:#a993ff;
    font-size: 0.8rem;
    cursor: pointer;
}
header{
    position: relative;
    padding: 0.2rem;
}
.navbar {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_holder {
    height: 100%;
    display: flex;
    align-items: center;
    width: 70px;
    transform: translateX(3em);
    justify-content: center;
    transform: translateX(2em);
}
  
.logo_holder img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
  
.logo {
    width: 100%;
    height: 100%;
    image-resolution:2ddpx ;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: black;
    font-size: 1rem;
    cursor: pointer ;
    display: none;
}
.action_btn{
    background-color: #a993ff;
    color: #ffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05 ;
    color: #ffff;
}
.action_btn:active{
    scale: 0.95;
}
/* Main section:About */
section#about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.intro_img{
    
    width: 100%;
    height: 60vh;
    transform: translateY(-4em);
}
#about h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 700;
}
p{
    font-size: 1.2rem;
    font-weight: 300;
}
/* Form */
.form_box{
    width: 100%;
    max-width: 920px;
    position: absolute;
    padding: 40px 50px 5px;
    left: 50%;
    background: rgba(29, 28, 28, 0.141);
    text-align: center;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
}
.form_box h1{
    font-size: 30px;
    margin-bottom: 90px;
    color:#a993ff;
    position: relative;
}
.form_box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #a993ff;
    position:absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input_field{
    background:#eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;

}
.input_field i{
    margin-left: 15px; 
    color: #999;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #a993ff;
}
.btn_field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-5rem);
}
.btn_field button{
    flex-basis: 48%;
    background: #a993ff;
    color: #ffff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    overflow: hidden;

}
.input_group{
    height: 280px;
}
 .btn_field button.disable{
    background: #eaeaea;
    color: #555;
 }
 /* Row-body section:grid */
 .row_body{
    padding-left: 7rem;
    width: 90%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    transform: translateY(52%);
    padding-top: 3rem;
    padding-bottom: 10em;
    
 }
 .row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
 }
 .row .left{
    overflow: hidden;
 }
 .row .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .row .right{
    display: flex;
    align-items: center;
 }
 .row .right .content{
    padding-left: 20px;
 }
 .row .right .content p{
    font-size: 17px;
    line-height: 26px;
    padding-bottom: 15px;
 }
 /* Services Section */
 section#services{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
 }

 #services h1{
    font-size: 2rem;
    padding-top: 6em;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #a993ff;

}
#services .info{
    width: 100%;
    height: 60vh;
    position: absolute;
    padding-left: 5rem;
    padding-right: 5rem;
}
#services p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-left: 5rem;
    padding-right: 5rem;
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 13em;
    padding-bottom: 14em;
    /* background: #3c00ae; */
}
.wrapper h1{
    font-size: 2rem;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    color: #a993ff;

}
.content_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px ;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card i{
    margin: 20px;
    color: #ff5754;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 300;
    text-align: center;
    color: #a993ff;
    font-size: 1.5em;
    font-weight: 300;
}
.card p{
    color: #000;
}
.card:hover i,
.card:hover p{
    color: #ffff;
}
.card:hover h2{
    font-weight: 600;
    color: #f2f2f2;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                rgba(169, 147, 255, 0.8) 0%,
                                rgba(169, 147, 255, 0.8) 100%),
                                  url('resources/fashion.jpg');
    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
                                rgba(169, 147, 255, 0.8) 0%,
                                rgba(169, 147, 255, 0.8) 100%),
                                  url('resources/Electronic.jpg');
    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
                                rgba(169, 147, 255, 0.8) 0%,
                                rgba(169, 147, 255, 0.8) 100%),
                                  url('resources/homedecor.jpg');
    background-size: cover;
}.card:nth-child(4):hover{
    background: linear-gradient(45deg,
                               rgba(169, 147, 255, 0.8) 0%,
                                rgba(169, 147, 255, 0.8) 100%),
                                  url('resources/vegetables.jpg');
    background-size: cover;
}.card:nth-child(5):hover{
    background: linear-gradient(45deg,
                                rgba(169, 147, 255, 0.8) 0%,
                                rgba(169, 147, 255, 0.8) 100%),
                                  url('resources/baby.jpg');
    background-size: cover;
}.card:nth-child(6):hover{
    background: linear-gradient(45deg,
                                rgba(169, 147, 255, 0.8) 0%,
                                rgba(169, 147, 255, 0.8) 100%),
                                  url('resources/coffe.jpg');
    background-size: cover;
}


/* Peoople section */
section #people{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
 }
 #people h1{
    font-size: 2rem;
    padding-top:2em;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #a993ff;

}
#people h2{
    font-size: 2rem;
    padding-top:5px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding-bottom: 1rem;
    color: #000;

}
.wrap_people{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(2em);
    padding-bottom: 10em;
}
.content_people{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px ;
}
.row_people { 
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}
.column{
    width: 100%; 
    padding: 0.5em 0;
}
.card_people{
    min-height: 80px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 4px;
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
}
.card_people .img_container{
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
    overflow: hidden; 
}
.card_people .img {
    border-radius: 50%;
    width: 100%;
}
.profile_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.card_people h3{
    font-weight: 500;
}
.card_people p{
    font-weight: 300;
    transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}
.people_icons{
    width: 50%;
    min-width: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card_people a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}
.card_people:hover{
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffff;
}
.card_people .img_container {
    transform: scale(1.15);
}

/* Join section */
   
.join h3{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 300;
}
.form_holder{
    display: flex;
    padding-bottom: 60%;
}
/* Drop menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(9, 0, 0, 0.141);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* footer */
footer{
    position: fixed;
    width: 100%;
    background: #a993ff;
    min-height: 50px;
    bottom: 0;
    padding: 20px 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icons, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icons li{
    list-style: none;
}
footer .social_icons li a {
    font-size: 1.5em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icons li a:hover{
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: 1.1em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}
/* footer .menu li a:hover {
    
} */
footer p{
    color: #ffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.8em;
}
/* footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    color: #3c00ae;
    background: #f00 url(wave.png);
    background-size: 1000px 100px;

}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4, linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position: 1000px;
    }
} */
/* Responsive Design */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display:none   ;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        
    }
    .intro_img{
        margin-top:25%;
    }
    .form_box{
        margin-top: 5rem;
        max-width: 520px;
      
      }
    .row .right .content{
        padding-left: 0;
    }
    .row{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .row_body{
        transform: translateY(80%);
        padding-right: 5rem;
        margin-top: 3rem;
        padding-top: 3rem;
    }
    
     #services h1{
        padding-top: 20rem;
     }
     .wrapper{
        padding-top: 20em;
        display: flex;
        gap: 3px;
     }
     .wrapper h1{
        font-size: 2rem;
        font-weight: 600;
     }
     .content_box{
        flex-direction: column;
        width: 40%;
     }
     .card{
        min-width: 300px;
        margin: 20px;
     } 
     .wrap_people{
        padding-top: 10px;
        display: flex;
        gap: 3px;
     }
     .content_people{
        flex-direction: column;
        width: 50%;
     }
     .join h3{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 2rem;
        
    }
    .join h3{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 2rem;
        
    }
    .form_holder{
        transform: translateY(-10%);
        padding-bottom: 98em;
    }
}
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .intro_img{
        margin-top:90%;
    }
    #about h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
        padding-left: 3rem;
    }
    p{
        font-weight: 300;
        padding-left: 3rem;
    }
    .form_box{
      margin-top: 10rem;
      max-width: 400px;
    
    }
    .row{
        width: 350px;
        grid-template-columns: 1fr;
    }
    .row_body{
        width: 400px;
        padding-top: 2rem;
        transform: translateY(80%);
        padding-left: 2rem;
    }
    .row .right .content p{
        font-size: 17px;
        padding-right: 1.5rem;
     }
    
     #services h1{
        padding-top: 40rem;
     }
     .wrapper{
        padding-top: 40em;
        display: flex;
        gap: 3px;
     }
     .wrapper h1{
        font-size: 2rem;
        font-weight: 600;
     }
     .content_box{
        flex-direction: column;
        width: 70%;
     }
     .card{
        min-width: 300px;
        margin: 20px;
     } 
     .wrap_people{
        padding-top: 3em;
        display: flex;
        gap: 3px;
     }
     .content_people{
        flex-direction: column;
        width: 70%;
     }
     .join h3{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 2rem;
        
    }
    .form_holder{
        transform: translateY(-10%);
        padding-bottom: 55em;
    }
     

}
